.project-card {
  display: grid;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 4px #111;
}

.project-card .title {
  text-align: center;
  margin-top: 0;
}

.project-card img {
  width: 100%;
}

.project-card .links {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: auto;
}